@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.wide {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* post & put form */
#post-form {
  width: 100%;
  border: 1px solid #e0e4e8;
  border-radius: 3px;
  overflow: hidden;
}

#put-form {
  width: 60%;
}

#put-form.active {
  transform: translate(-50%, -50%) scale(1);
}

.post-form__header,
.put-form__header {
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
}

.post-form__main,
.put-form__main {
  padding: 20px;
}

.post-form__main .description {
  color: #dc3545;
  float: right;
}

.form-label span {
  color: #dc3545;
  margin-left: 5px;
}

.form-label {
  display: inline-block;
  margin: 5px 0;
}

input:not([type='radio']) {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e4e8;
  border-radius: 3px;
}

input:not([type='radio']):focus {
  border: 1px solid #c5c8cc;
  outline: none;
  box-shadow: 5px 5px 5px #e0e4e8;
}

input[type='radio'] {
  margin-left: 5px;
  margin-right: 5px;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn--green {
  background-color: #28a745;
  color: #fff;
}

.btn--yellow {
  background-color: #ffc107;
}

.btn--red {
  background-color: #dc3545;
  color: #fff;
}

.btn--blue {
  background-color: #2f7de3;
  color: #fff;
}

.btn--white {
  background-color: #fff;
  color: #2f7de3;
  border: 1px solid #e0e0e0;
}

.form-group.invalid input:not([type='radio']) {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
  font-size: 14px;
  line-height: 16px;
  margin-top: 4px;
}

/* table */
.table {
  overflow: auto;
  margin-top: 20px;
  max-height: 550px;
}

.table::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.table::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.table::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

#student-table {
  width: 100%;
  border-collapse: collapse;
}

#student-table thead {
  background-color: #28a745;
}

#student-table tbody {
  text-align: center;
}

#student-table th,
#student-table td {
  white-space: nowrap;
  min-width: 60px;
  padding: 10px;
  border-color: #d8e0e1;
}

/* modal */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.overlay.active {
  display: block;
}

.modal {
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid #e0e4e8;
  box-shadow: 0 0 5px #4d4a4a;
  border-radius: 3px;
  overflow-y: auto;
  transition: transform ease-in-out 250ms;
}

.alert,
.confirm {
  width: 40%;
}

.alert.active,
.confirm.active {
  transform: translate(-50%, -50%) scale(1);
}

.alert .content,
.confirm .content {
  padding: 20px;
  color: #1c1b1b;
  border-bottom: 1px solid #ccc;
}

.alert-btn,
.confirm-btn {
  padding: 10px 20px;
  display: flex;
  justify-content: end;
}

.alert-btn .btn,
.confirm-btn .btn {
  padding: 5px 18px;
}

.confirm-btn .btn--white {
  margin-left: 8px;
}

footer {
  background-color: #097021;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

footer span {
  color: #fff;
}

/* responsive */
@media (max-width: 1023px) {
  body {
    -webkit-tap-highlight-color: transparent;
  }

  .table::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  #put-form {
    width: 80%;
    max-height: 80%;
  }

  .alert,
  .confirm {
    width: 70%;
  }
}

@media (max-width: 767px) {
  #put-form {
    max-height: 60%;
  }
}
